*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    font-size: 62.5%;
}
html ,body{
    height: 100%;
}
 body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     background-color: #f4f4f4;
     font-size: 1.7rem;
        background-image: url('../images//medical.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            text-align: center;
 }

 .container {
     width: 35%;
     margin: 0 auto;
     padding: 2rem;
 }

 h2 {
    margin-top: 6rem;
    margin-bottom: 3rem;
     text-align: center;
     color: #2b6777;
 }

 .form-container {
     background: #fff;
     padding: 2rem;
     box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.4);     
     border-radius: 0.8rem;
     margin-top: 2rem;
 }

 label {
     font-weight: bold;
     margin-bottom: 0.8rem;
     display: block;
     color: #2c3e50;
 }

 input[type="text"],
 input[type="password"] {
     width: 85%;
     padding: 10px;
     margin: 8px 0 15px 0;
     border: 1px solid #ddd;
     border-radius: 4px;
     font-size: 1.5rem;
 }

  button {
      width: 30%;
      padding: 0.5rem;
      font-size: 1.5rem;
      border: 0.1rem solid #5CB338;
      border-radius: 5px;
      background-color: #5CB338;
      color: #fff;
      cursor: pointer;
      transition: all 0.3s ease;
      font-weight: bold;
      align-items: center;
  }

 button:hover {
      background-color: #fff;
      color: #5CB338;
  }
tr .th{
    padding: 1rem;
    font-size: 1.5rem;
    color: #2c3e50;
    font-weight: bold;
    text-align: center;
}
tr .td{

    padding: 1rem;
    font-size: 1.5rem;
    color: #2c3e50;
    font-weight: bold;
    text-align: center;

}
 .message {
     margin-top: 2rem;
     font-size: 1.7rem;
     color: green;
 }

 .error-message {
     margin-top: 2rem;
     font-size: 1.7rem;
     color: red;
 }
 .user-list h3{
     font-size: 2rem;
     color: #2c3e50;
     margin-bottom: 1.5rem;
     text-align: center;
     font-weight: bold;
     
 }
 .user-list {
     margin-top: 30px;
     color: #2c3e50;
 }
 table {
     width: 100%;
     border-collapse: collapse;
     margin-bottom: 20px;
 }

 table,
 th,
 td {
     border: 1px solid #ddd;
 }

 th,
 td {
     padding: 10px;
     text-align: center;
 }