* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
}

html,
body {
    height: 100%;
}

body{
        background-image: url('../images//medical.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            text-align: center;
}
.options {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    
}

h1 {
    
    font-size: 3rem;
    font-weight: 700;
    color: #2b6777;
    margin-bottom: 2rem;
    text-align: center;
    align-items: center;
    font-weight: 600;
    position: absolute;
    top: 27%;
    left: 35%;
    
    
}

.container form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.4);
}

.options form  button {
    display: inline-block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #5CB338;
    border:0.1rem solid #5CB338;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #fff;
   
}
.options form button:hover {
    background-color: #fff;
    color: #5CB338;
}
.options form button a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;

}
.options form button a:hover {
color: #5CB338;
}

.options form p {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-left: 3rem;
    color: #2b6777;

}

.options form p a {
    color: #5CB338;
    text-decoration: none;
    transition: all 0.3s ease;
}

.options form p a:hover {
    color: #2b6777;
}
