  body {
      font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 0;
      background-image: url('../images//medical.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;          
  }


.services-section {
    text-align: center;
    padding: 6rem 2rem;

}

  .services-section h2 {
      font-size: 3rem;
      font-weight: 700;
      color: #2b6777;
      margin-bottom: 2rem;
      text-align: center;
      align-items: center;
      font-weight: 600;

  }

  .services-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 20px;
      max-width: 1200px;
      margin: 0 auto;
  }

  .service-card {
      background: white;
      border-radius: 15px;
      padding: 25px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .service-card:hover {
      transform: translateY(-10px);
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  }

  .service-card img {
      width: 80px;
      margin-bottom: 15px;
      border-radius: 50%;
      width: 8rem;
      height: 8rem;

  }

  .service-card h3 {
      font-size: 1.1rem;
      color: #2b6777;
      margin-bottom: 10px;
  }

  .service-card p {
      font-size: 0.95rem;
      color: #666;
      line-height: 1.6;
  }

  .load-more {
      margin: 30px auto;
      padding: 10px 20px;
      font-size: 1rem;
      font-weight: bold;
      color: white;
      background: #5CB338;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
  }

  .load-more:hover {
      background: #fff;
      color: #5CB338;
      border: 0.1rem solid #5CB338;
  }
 .load-more i{
     margin-left: 5px;
     font-size: 1.2rem;
     transition: all 0.3s ease;

 }
 .load-more:hover i{
     transform: translateX(5px);
 }
 /* .navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: #2b6777;
     padding: 15px 20px;
     font-size: 1rem;
 }

 .navbar .logo {
     font-size: 2rem;
     font-weight: 600;

 }

 .navbar .logo::first-letter {
     font-size: 4rem;
     color: #5CB338;
 }

 .navbar .navbar-search ul {
     display: flex;
     list-style: none;
     align-items: center;
     justify-content: center;
     gap: 3rem;
     font-size: 1.8rem;
 }

 .navbar .navbar-search ul li {
     position: relative;
     cursor: pointer;


 }


 .navbar .navbar-search ul li a {
     color: #2b6777;
     font-weight: 400;
     text-decoration: none;
     transition: all 0.3s ease;

 }

 .navbar .navbar-search ul li a:hover {
     color: #5CB338;


 }

 .navbar .navbar-search ul li:hover::after {
     width: 100%;
 } */